<div class="cover gh-outer">
    <div class="cover-content gh-inner">
        {{#if @site.icon}}
        <div class="cover-icon">
            <img class="cover-icon-image" src="{{@site.icon}}" alt="{{@site.title}}">
        </div>
        {{/if}}

        {{#if @site.description}}
        <div id="cover-description" class="cover-description"></div>
        {{/if}}
    </div>
    <div class="teacup-break mt-3">
        🍵
    </div>
    <div class="card-section-title">
        <h2 class="mb-4">{{@custom.card_section_title}}</h2>
        <div id="programming-subtitle" class="italic"></div>
    </div>
    <section id="card-container">
    </section>
    <div class="cover-cta-container align-center view-calendar-button">
        {{#if @site.members_enabled}}
        {{#unless @member}}
        <div class="cover-cta">
            <a class="button members-subscribe" href="/calendar">View Calendar</a>
        </div>
        {{/unless}}
        {{/if}}
    </div>

    <div class="teacup-break mt-6">
        🍵
    </div>
    <div id="get-involved-section" class="section-title-container">
    </div>
    <div class="section-title-container">
        <div>
            <h2 id="articles-section-title" class="mb-4"></h2>
        </div>
        <div id="articles-section-subtitle" class="italic"></div>
    </div>

    <script src="{{asset 'js/settings.js'}}"></script>
    <script src="{{asset 'js/homepage.js'}}"></script>
</div>