{{!< ./default}} <main id="site-main" class="site-main site-signup account-page outer">
    <div class="membership-container">
        <div class="signup-header">
            <h1 class="signup-title">Your account</h1>
        </div>

        {{#if @member}}
        <div class="account-container">

            {{!-- Profile --}}
            <section class="account-section">
                <div class="account-details">
                    <div class="account-row">
                        <span class="account-value">{{@member.name}}</span>
                    </div>
                    <div class="value-description">
                        <span>{{@member.email}}</span>
                    </div>
                </div>
                <button class="account-cta" data-portal="account/profile">Edit</button>
            </section>

            {{#if @member.paid}}
            {{!-- Membership --}}
            <section class="account-section">
                <div class="account-details">
                    {{#foreach @member.subscriptions as |sub|}}
                    <span class="account-value">{{sub.tier.name}}</span>
                    <span class="value-description">${{price sub.plan.amount}}/{{sub.plan.interval}}</span>
                    <span class="value-description">{{#if sub.cancel_at_period_end}}Ends{{else}}Renews{{/if}} {{date
                        sub.current_period_end format="MMMM D, YYYY"}}</span>
                    {{/foreach}}
                </div>
                <button class="account-cta"><a href="/signup">Change</a></button>
            </section>

            {{!-- Billing --}}
            <section class="account-section">
                <div class="account-details">
                    {{#foreach @member.subscriptions as |sub|}}
                    <span class="account-value">Billing</span>
                    <span class="value-description">•••• •••• •••• {{sub.default_payment_card_last4}}</span>
                    {{/foreach}}
                </div>
                <button class="account-cta"><a href="javascript:" data-members-manage-billing>Update</a></button>
            </section>
            {{/if}}

            {{!-- Emails --}}
            <section class="account-section">
                <div class="account-details">
                    <span class="account-value">Emails</span>
                    <span class="value-description">Manage your email preferences</span>
                </div>
                <button class="account-cta" data-portal="account/newsletters">Manage</button>
            </section>

        </div>
        {{else}}
        <div class="members-description-container">
            <p>Please <a href="#/portal/signin" data-portal="signin">sign in</a> to view your account.</p>
        </div>
        {{/if}}
    </div>
    </main>