{{!< ./default}} <main id="site-main" class="site-main site-signup outer">
    <div class="membership-container">
        {{!-- If member --}}
        {{!-- Choose plan --}}
        {{!-- Else --}}
        {{!-- Inputs --}}
        <form data-members-form data-members-autoredirect="false" id="signup-form">
            <div class="form-header">
                {{#unless @member}}
                <div class="input-container">
                    <label class="name-input">
                        Name
                        <input id="name" data-members-name placeholder="Craig Mod" required="true" />
                    </label>
                    <label class="email-input">
                        Email
                        <input id="signup-email" data-members-email type="email" required="true"
                            placeholder="craigmod@theteastand.org" />
                    </label>
                    <div id="error" class="error-container" data-members-error></div>
                </div>
                <div id="signup-description" class="signup-description">
                </div>
                {{else }}
                <h1 class="choose-plan-header">Choose a plan</h1>
                <div id="signup-description" class="signup-description">
                </div>
                <span id="signup-name" style="display: none;"></span>
                <span id="signup-email" style="display: none;">{{@member.email}}</span>
                <span id="membership-paid" style="display: none;">{{@member.paid}}</span>
                {{#foreach @member.subscriptions as |sub|}}
                <span id="member-subscription" style="display:none;">{{sub.tier.name}}</span>
                {{/foreach}}
                {{/unless}}
            </div>
            <section class="membership-plans">
                <div data-test-tier="free">
                    <button type="submit" class="plan-button" style="background-color: {{@site.accent_color}}">
                        Join Newsletter
                    </button>
                </div>
            </section>
        </form>
        </section>
        {{#if @member.paid}}
        <div class="cancellation-layout" {{#foreach @member.subscriptions as |sub|}} <div
            class="cancellation-container">
            {{cancel_link class="cancel-link" cancelLabel="Cancel Membership"}}
        </div>
        {{/foreach}}
    </div>
    {{/if}}
    <div class="members-description-container">
        <div id="members-description" class="members-description">
        </div>
    </div>
    </div>
    </main>

    <script src="{{asset 'js/settings.js'}}"></script>

    <script type="text/javascript">
        // Redirect to success page on successful free tier signup
        function connectMutationObserver() {
            const targetNode = document.getElementById("signup-form");
            const config = { attributes: true, childList: false, subtree: false };

            // Only free tier can trigger this callback
            const callback = (mutationList, observer) => {
                for (const mutation of mutationList) {
                    if (mutation.type === "attributes") {
                        if (mutation.target.className === 'success') {
                            document.location = '/signup-success'
                        }
                    }
                }
            };

            const observer = new MutationObserver(callback);
            observer.observe(targetNode, config);
        }

        document.addEventListener("DOMContentLoaded", function () {
            connectMutationObserver()
        });


    </script>